.button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--active-color);
  padding: 32px 10px;
  font-family: "monsterrat";
  font-weight: bold;
  font-size: 30px;
}

.button:hover {
  outline: 2px solid var(--align-color);
}

.button-calculate {
  display: block;
  margin: 20px auto;
  width: fit-content;
}
